/* Point to different Material Icons asset path */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.ttf') format('truetype'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.svg') format('svg');
url('/webjars/form-flow/0.0.1/fonts/MaterialIcons-Regular.svg') format('svg');
}

/* Point to different emoji asset path */
.emoji--grinning-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f600.png');
}

.emoji--neutral-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f610.png');
}

.emoji--frowning-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f641.png');
}

.emoji--thumbs-up {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f44d.png');
}

.emoji--clipboard {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4cb.png');
}

.emoji--page-facing-up {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4c4.png');
}

.emoji--blush {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f60a.png');
}

.emoji--pencil {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/270f.png');
}

.emoji--ok {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f44c.png');
}

.emoji--eggs {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f373.png');
}

.emoji--credit-card {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b3.png');
}

.emoji--avocado {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f951.png');
}

.emoji--phone {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/260e.png');
}

.emoji--receiver {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4de.png');
}

.emoji--mail {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4eb.png');
}

.emoji--mail-open {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4ec.png');
}

.emoji--bust {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f464.png');
}

.emoji--money {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b5.png');
}

.emoji--house {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f3e0.png');
}

.emoji--faucet {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f6b0.png');
}

.emoji--dollar-sign {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b2.png');
}

.emoji--memo {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4dd.png');
}

.emoji--lock {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f512.png');
}

.emoji--to-mobile {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4f2.png');
}

.emoji--carrot {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f955.png');
}

.emoji--backpack {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f392.png');
}

.emoji--money-bag {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4b0.png');
}

.emoji--confused-face {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f914.png');
}

.emoji--fist {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/270a.png');
}

.emoji--stew {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f958.png');
}

.emoji--rice-bowl {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f35a.png');
}

.emoji--salad {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f957.png');
}

.emoji--finger-down {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f447.png');
}

.emoji--star {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f31f.png');
}

.emoji--earth {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f30e.png');
}

.emoji--farmer-female {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f469-1f33e.png');
}

.emoji--construction-worker {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f477.png');
}

.emoji--older-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/older-woman.png');
}

.emoji--older-man {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/older-man.png');
}

.emoji--disabled {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/267f.png');
}

.emoji--fast-disabled {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/fast_disability.png');
}

.emoji--briefcase {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f4bc.png');
}

.emoji--pill {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f48a.png');
}

.emoji--baby {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f476.png');
}

.emoji--checkmark {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/checkmark.png');
}

.emoji--crossmark {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/crossmark.png');
}

.emoji--student-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f469-1f393.png');
}

.emoji--student-man {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f468-1f393.png');
}

.emoji--student-hat {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f393.png');
}

.emoji--warning {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/26a0.png');
}

.emoji--car {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f697.png');
}

.emoji--map {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f5fa.png');
}

.emoji--woman-detective-medium-dark-skin-tone {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f575-1f3fe-2640.png');
}

.emoji-pair--jobs {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_jobs.png');
}

.emoji-pair--dependent_care {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_dependent_care.png');
}

.emoji--fountain-pen {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/pen.png');
}

.emoji--ambulance {
  background-image: url('/webjars/form-flow/0.0.1/images/emojis/1f691.png');
}

.emoji-pair--self-employed {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_self_employed.png');
}

.emoji-pair--disabled-money {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_ssi_ssp.png');
}

.emoji-pair--fast-disabled-money {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_ssi_fast_ssp.png');
}

.emoji-pair--older-man-and-woman {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_older_man_and_woman.png');
}

.emoji-pair--students {
  background-image: url('/webjars/form-flow/0.0.1/images/emoji_pairs/emoji_students.png');
}

.accordion__button::after {
  background-image: url("/webjars/form-flow/0.0.1/images/icon_accordion_close.svg");
}

.accordion--is-closed .accordion__button::after {
  background-image: url("/webjars/form-flow/0.0.1/images/icon_accordion_open.svg");
}

/* Theming from Shiba */
.toolbar__wrapper {
  background: #003865;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100vw;
  height: 6rem;
  font-size: 1.6rem;
}

/* TODO: delete/fix in other way */
.page-wrapper {
  padding-bottom: 253px;
}

@media screen and (min-width: 601px) {
  .toolbar__wrapper {
    margin-left: -3.5rem;
    margin-right: -3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.button--intercom:first-of-type {
  margin: .2em .5em;
  flex-shrink: 0;
  color: #003865;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: 0 2px 0 #6F99B5;
}

.button--intercom:hover {
  border-color: #E9F6FF;
  background-color: #E9F6FF;
  color: #003865;
}

.button--intercom:focus {
  border-color: #E5E5E5;
  background-color: #E9F6FF;
  color: #003865;
  box-shadow: 0 0 0 5px #FFAE00;
}

@media screen and (max-width: 350px) {
  .button--intercom {
    padding: .5rem;
  }
}

.boxed-content {
  padding: 2.5rem 1rem 2.5rem 1rem;
  margin: 2.5rem auto;
  border: 2px solid #AAAAAA;
  border-radius: 3px;
  max-width: 35rem;
}

body,
.slab--off-white {
  background-color: #E9F6FF;
}

.slab--white {
  background-color: #FFFFFF;
}

.slab--minnesota-sky-blue {
  background-color: #E9F6FF;
}

.footer-minnesota-blue {
  color: #FFF;
  background-color: #003865;
}

.main-footer a:visited {
  color: #cdcdcd;
}

.body-gray {
  color: #5F5854;
}

.font-white {
  color: white;
}

.padding-horizontal-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-right-25 {
  padding-right: 2.5rem;
}

.padding-right-10 {
  padding-right: 1rem;
}

.padding-left-25 {
  padding-left: 2.5rem;
}

.spacing-right-0 {
  margin-right: 0;
}

.button--primary {
  color: #FFFFFF;
  background-color: #003865;
  border-color: #003865;
  box-shadow: 0 2px 0 #00088E;
}

.button--primary:hover {
  border-color: #00223D;
  background-color: #00223D;
  color: #FFFFFF;
}

.yes-no-button {
  min-width: 128px;
  margin-right: 2.5rem;
  margin-left: 0;
}

.notice {
  position: relative;
  background-color: #E9F6FF;
  border: 2px solid #003865;
  border-radius: 3px;
  padding: 15px 15px;
}

.notice p {
  margin-bottom: 0;
}

.main-footer {
  font-weight: normal;
  height: auto;
}

.slab a:not(.button):not(.reveal__link):not(.text--red),
.slab a:not(.button):not(.reveal__link):not(.text--red):focus,
.button--link, .button--link:focus {
  color: #003865;
}

.vertical-align-middle {
  vertical-align: middle;
}

.form-group--error fieldset .text--error {
  margin-top: 30px;
  margin-bottom: 0;
}

.page-wrapper .form-card {
  max-width: 55rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.form-width {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

.subflow-list {
  text-align: left;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.boxed-content hr {
  margin: 2.5rem 0 3rem 0;
}

.radio-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-button.disabled:hover {
  background: none;
}

.display-flex {
  display: flex;
}

.accordion__button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #ffae00;
}

.text--normal {
  font-weight: 400;
}

.text-input--inline {
  display: inline-block;
}

.form-width--day,
.form-width--month {
  max-width: calc(4.4rem + 2ch);
  padding: 0 1.5rem;
}

.form-width--year {
  max-width: calc(4.4rem + 4ch);
  padding: 0 2rem;
}