<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="reveal"
    th:with="controlId=${controlId == null ? 'r1' : controlId}"
    th:assert="
      ${!#strings.isEmpty(linkLabel)},
      ${!#strings.isEmpty(content)}">
  <div class="reveal">
    <a href="#" class="reveal__link reveal__link-adjacent">
      <div class="reveal__link__header-adjacent" aria-expanded="true" aria-controls="controlId">
        <th:block th:replace="${linkLabel}"></th:block>
      </div>
      <div class="reveal__content reveal__content-adjacent" id="controlId">
        <th:block th:replace="${content}"/>
      </div>
    </a>
  </div>
</th:block>
</body>
</html>
