<!--
- [x] This fragment needs to accept an inputName
- [x] Needs to look for inputName + streetAddress1_validated and create boolean on if it finds it or not
- [x] Use the above boolean to render or not the validated address and the correct notice message
- [ ] Simplify control logic visualization?
-->
<th:block th:fragment="addressSelectionScreen(addressInputToCheck, inputName)"
          th:with="foundValidatedAddress=${inputData.get(addressInputToCheck + 'StreetAddress1_validated') != null}"
>
  <div class="grid__item spacing-above-35 spacing-below-35">
    <h1 class="h2" th:if="${foundValidatedAddress}"
        th:text="#{address-validation.header.check-your-address}"></h1>
    <h1 class="h2" th:unless="${foundValidatedAddress}"
        th:text="#{address-validation.header.make-sure-your-address-is-correct}"></h1>
    <p th:if="${foundValidatedAddress}"
       th:text="#{address-validation.warning.we-updated-the-address-you-entered}"
       class="notice--warning"></p>
    <p th:unless="${foundValidatedAddress}"
       th:text="#{address-validation.warning.we-couldnt-find-your-address}"
       class="notice--warning"></p>
  </div>
  <div class="grid__item address-validation spacing-below-60">
    <label th:for="validated-address" class="radio-button"
           th:if="${foundValidatedAddress}">
      <p class="spacing-below-15"
         th:text="#{address-validation.suggested}"></p>
      <div th:text="${inputData.get(addressInputToCheck + 'StreetAddress1_validated')}"></div>
      <div
          th:text="${inputData.get(addressInputToCheck + 'City_validated')} + ', ' + ${inputData.get(addressInputToCheck + 'State_validated')}"></div>
      <div th:text="${inputData.get(addressInputToCheck + 'ZipCode_validated')}"></div>
      <input type="radio" th:name="${inputName}" id="validated-address"
             th:value="true"
             th:checked="true">
    </label>
    <label th:for="original-address" class="radio-button"
           th:classappend="${foundValidatedAddress} ? '' : 'is-selected left-aligned'">
      <p class="spacing-below-15"
         th:text="#{address-validation.address-entered}"></p>
      <div th:text="${inputData.get(addressInputToCheck + 'StreetAddress1')}"></div>
      <div
          th:text="${inputData.get(addressInputToCheck + 'City')} + ', ' + ${inputData.get(addressInputToCheck + 'State')}"></div>
      <div th:text="${inputData.get(addressInputToCheck + 'ZipCode')}"></div>
      <input type="radio" th:classappend="${foundValidatedAddress} ? '' : 'hide-radio-circle'"
             th:name="${inputName}" id="original-address"
             th:value="false"
             th:checked="${foundValidatedAddress} ? false : true">
    </label>
  </div>
  <button th:if="${foundValidatedAddress}" id="form-submit-button" class="button button--primary"
          type="submit" th:text="#{general.inputs.continue}"></button>
  <a th:href="'/pages/'+${pageName}+'/navigation?option=1'" th:if="${!foundValidatedAddress}"
     class="button button--primary" th:text="#{address-validation.button.edit-my-address}"></a>
  <button th:if="${!foundValidatedAddress}" id="form-submit-button" class="button" type="submit"
          th:text="#{address-validation.button.use-this-address}"></button>
</th:block>