spring:
  flyway:
    placeholders:
      uuid_function: "gen_random_uuid"
      user_file_doc_type_default_label: ${form-flow.uploads.default-doc-type-label:#{null}}
  messages:
    encoding: ISO-8859-1
    basename: messages, messages-form-flow
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: never
  jpa:
    open-in-view: false