<th:block
    th:fragment="address(validate, inputName)"
    th:with="
    streetAddress=${inputName + T(formflow.library.inputs.AddressParts).STREET_ADDRESS_1.toString()},
    streetAddress2=${inputName + T(formflow.library.inputs.AddressParts).STREET_ADDRESS_2.toString()},
    city=${inputName + T(formflow.library.inputs.AddressParts).CITY.toString()},
    state=${inputName + T(formflow.library.inputs.AddressParts).STATE.toString()},
    zipCode=${inputName + T(formflow.library.inputs.AddressParts).ZIPCODE.toString()},
    validateAddressInputName=${T(formflow.library.inputs.FieldNameMarkers).UNVALIDATED_FIELD_MARKER_VALIDATE_ADDRESS + inputName}"
>
  <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName=${streetAddress},
                  label=#{address.street-address-1},
                  helpText=${streetAddressHelpText})}"/>
  <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName=${streetAddress2},
                  label=#{address.street-address-2},
                  helpText=${streetAddress2HelpText})}"/>
  <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName=${city},
                  label=#{address.city},
                  helpText=${cityHelpText})}"/>
  <th:block th:replace="~{fragments/inputs/state ::
                  state(inputName=${state},
                  label=#{address.state},
                  helpText=${stateHelpText})}"/>
  <th:block th:replace="~{fragments/inputs/text ::
                  text(inputName=${zipCode},
                  label=#{address.zip},
                  helpText=${zipCodeHelpText})}"/>
  <input type="hidden"
         th:name="${validateAddressInputName}"
         th:value="${validate}"/>
</th:block>