<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="address(validate, inputName)"
    th:with="validateAddress=${validate ? validate : true}"
>
  <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName=${inputName + 'StreetAddress1'},
                  label=#{homeAddress.street-address})"/>
  <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName=${inputName + 'StreetAddress2'},
                  label=#{homeAddress.apartment})"/>
  <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName=${inputName + 'City'},
                  label=#{homeAddress.city})"/>
  <th:block th:replace="'fragments/inputs/state' ::
                  state(inputName=${inputName + 'State'},
                  label=#{homeAddress.state})"/>
  <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName=${inputName + 'Zip'},
                  label=#{homeAddress.zip})"/>
</th:block>
</body>
</html>
