<th:block
    th:fragment="checkboxFieldset"
    th:with="
      hasHelpText=${!#strings.isEmpty(fieldsetHelpText)},
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      hasOptions=${options != null},
      hasContent=${!hasOptions},
      hasError=${
        errorMessages != null &&
        errorMessages.get(inputName) != null &&
        (#arrays.length(errorMessages.get(inputName)) > 0) }"
    th:assert="
      ${!#strings.isEmpty(inputName)},
      ${hasLabel || hasAriaLabel},
      ${hasContent || hasOptions}">
  <div th:class="'form-group' + ${(hasError ? ' form-group--error' : '')}">
    <fieldset th:attr="
      aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
      aria-labelledby=${hasAriaLabel ? ariaLabel : ''}">
      <legend class="form-question"
              th:if="${hasLabel}"
              th:id="${inputName + '-legend'}"
              th:inline="text">
        [[${label}]]
        <p class="text--help spacing-below-0 text--normal"
           th:if="${hasHelpText}"
           th:id="${inputName + '-help-text'}"
           th:text="${fieldsetHelpText}"></p>
      </legend>
      <input type="hidden" th:id="${inputName} + 'Hidden'" th:name="${inputName} + '[]'" value="">
      <th:block th:if="${hasContent}">
        <th:block th:replace="${content}"/>
      </th:block>
      <th:block th:if="${hasOptions}">
        <th:block th:each="option : ${options}">
          <th:block th:replace="~{fragments/inputs/checkboxInSet ::
            checkboxInSet(inputName=${inputName},
              value=${option.getValue()},
              label=${#strings.isEmpty(option.getLabel()) ? null : #messages.msg(option.getLabel())},
              checkboxHelpText=${#strings.isEmpty(option.getHelpText()) ? null : #messages.msg(option.getHelpText())})}"/>
        </th:block>
      </th:block>
      <th:block
          th:replace="~{fragments/inputError :: validationError(inputName=${inputName})}"></th:block>
    </fieldset>
  </div>
</th:block>