<th:block
    th:fragment="date(inputName, groupName)"
    th:with="
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      hasErrorMonth=${errorMessages != null && !#arrays.isEmpty(errorMessages.get(inputName + 'Month'))},
      hasErrorDay=${errorMessages != null && !#arrays.isEmpty(errorMessages.get(inputName + 'Day'))},
      hasErrorYear=${errorMessages != null && !#arrays.isEmpty(errorMessages.get(inputName + 'Year'))},
      hasErrorGroup=${hasErrorYear || hasErrorMonth || hasErrorDay || (errorMessages != null && !#arrays.isEmpty(errorMessages.get(groupName)))}"
    th:assert="${hasLabel || hasAriaLabel}">
  <div th:class="'form-group' + ${hasErrorGroup ? ' form-group--error' : ''}">
    <fieldset th:id="${groupName}" class="input-group input-group--inline">
      <legend th:if="${hasLabel}" th:for="${inputName}" th:text="${label}" class="form-question"/>
      <p class="text--help">
        <label th:for="${inputName}+'-month'"
               th:id="${inputName}+'-month-label'"
               th:text="#{general.month}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-day'"
               th:id="${inputName}+'-day-label'"
               th:text="#{general.day}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-year'"
               th:id="${inputName}+'-year-label'"
               th:text="#{general.year}"></label>
      </p>
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--month"
             th:id="${inputName}+'-month'"
             th:name="${inputName}+'Month'"
             th:placeholder="#{general.month-format}"
             th:attr="
              aria-describedby=${inputName + '-month-label'},
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorMonth}"
             th:value="${fieldData.getOrDefault(inputName + 'Month', '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--day"
             th:id="${inputName}+'-day'"
             th:name="${inputName}+'Day'"
             th:placeholder="#{general.day-format}"
             th:attr="
              aria-describedby=${inputName}+'-day-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorDay}"
             th:value="${fieldData.getOrDefault(inputName + 'Day', '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="4"
             class="text-input text-input--inline form-width--year"
             th:id="${inputName}+'-year'"
             th:name="${inputName}+ 'Year'"
             th:placeholder="#{general.year-format}"
             th:attr="
              aria-describedby=${inputName}+'-year-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorYear}"
             th:value="${fieldData.getOrDefault(inputName + 'Year', '')}"/>
    </fieldset>
    <th:block th:if="${hasErrorMonth}"
              th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Month')}"></th:block>
    <th:block th:if="${hasErrorDay}"
              th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Day')}"></th:block>
    <th:block th:if="${hasErrorYear}"
              th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Year')}"></th:block>
    <th:block th:if="${hasErrorGroup}"
              th:replace="~{fragments/inputError :: validationError(inputName=${groupName})}"></th:block>
  </div>
</th:block>
