<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block
    th:fragment="date(inputName, groupName)"
    th:with="
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      hasErrorMonth=${
        errorMessages != null &&
        errorMessages.get(inputName + 'Month') != null &&
        #arrays.length(errorMessages.get(inputName + 'Month')) > 0 },
      hasErrorDay=${
        errorMessages != null &&
        errorMessages.get(inputName + 'Day') != null &&
        #arrays.length(errorMessages.get(inputName + 'Day')) > 0 },
      hasErrorYear=${
        errorMessages != null &&
        errorMessages.get(inputName + 'Year') != null &&
        #arrays.length(errorMessages.get(inputName + 'Year')) > 0 }"
    th:assert="${hasLabel || hasAriaLabel}">
  <div
      th:class="'form-group' + ${((hasErrorMonth || hasErrorDay || hasErrorYear) ? ' form-group--error' : '')}">
    <fieldset th:id="${groupName}" class="input-group input-group--inline">
      <label th:if="${hasLabel}" th:for="${inputName}" th:text="${label}" class="form-question"/>
      <p class="text--help">
        <label th:for="${inputName}+'-month'"
               th:id="${inputName}+'-month-label'"
               th:text="#{general.month}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-day'"
               th:id="${inputName}+'-day-label'"
               th:text="#{general.day}"></label>
        &nbsp;/&nbsp;
        <label th:for="${inputName}+'-year'"
               th:id="${inputName}+'-year-label'"
               th:text="#{general.year}"></label>
      </p>
      <!-- TODO: figure out the three fields for each date issue -->
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--month"
             th:id="${inputName}+'-month'"
             th:name="${inputName}+'Month'"
             th:placeholder="mm"
             th:attr="
              aria-describedby=${inputName + '-month-label'},
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorMonth}"
             th:value="${inputData.getOrDefault(inputName + 'Month', '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="2"
             class="text-input text-input--inline form-width--day"
             th:id="${inputName}+'-day'"
             th:name="${inputName}+'Day'"
             th:placeholder="dd"
             th:attr="
              aria-describedby=${inputName}+'-day-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorDay}"
             th:value="${inputData.getOrDefault(inputName + 'Day', '')}"/>
      /
      <input type="text" inputmode="numeric" maxlength="4"
             class="text-input text-input--inline form-width--year"
             th:id="${inputName}+'-year'"
             th:name="${inputName}+ 'Year'"
             th:placeholder="yyyy"
             th:attr="
              aria-describedby=${inputName}+'-year-label',
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasErrorYear}"
             th:value="${inputData.getOrDefault(inputName + 'Year', '')}"/>
    </fieldset>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Month')}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Day')}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName} + 'Year')}"></th:block>
    <th:block
        th:replace="~{fragments/inputError :: validationError(inputName=${groupName})}"></th:block>
  </div>
</th:block>
</body>
</html>
