<th:block
    th:fragment="number"
    th:with="
      hasHelpText=${!#strings.isEmpty(helpText)},
      hasTitle=${!#strings.isEmpty(title)},
      hasPattern=${!#strings.isEmpty(pattern)},
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      isRequiredInput=${requiredInputs.contains(inputName)},
      hasError=${
        errorMessages != null &&
        errorMessages.get(inputName) != null &&
        (#arrays.length(errorMessages.get(inputName)) > 0) }"
    th:assert="${!#strings.isEmpty(inputName)}, ${hasLabel || hasAriaLabel}">
  <div th:class="'form-group' + ${(hasError ? ' form-group--error' : '')}">
    <label th:if="${hasLabel}" th:for="${inputName}" class="form-question">
      <span th:text="${label}"></span>
      <span th:if="${isRequiredInput}" class="required-input" aria-hidden="true">*</span>
    </label>
    <p class="text--help"
       th:if="${hasHelpText}"
       th:id="${inputName + '-help-text'}"
       th:text="${helpText}"></p>
    <th:block
        th:if="${hasError}"
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName})}"></th:block>
    <div class="text-input-group form-width--med">
      <input type="text" inputmode="numeric"
             class="text-input form-width--med"
             th:id="${inputName}"
             th:name="${inputName}"
             th:placeholder="${placeholder}"
             th:attr="
              title=${hasTitle ? title : #messages.msg('general.inputs.number')},
              pattern=${hasPattern ? pattern : '^\d*(\.\d{0,2})?$'},
              aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
              aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
              aria-invalid=${hasError},
              aria-required=${isRequiredInput}"
             th:value="${fieldData.getOrDefault(inputName, '')}">
      <div th:if="${postfix != null}" th:text="${postfix}" class="text-input-group__postfix"></div>
    </div>
  </div>
</th:block>
