<th:block
    th:fragment="radioFieldset"
    th:with="
      hasHelpText=${!#strings.isEmpty(fieldsetHelpText)},
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      isRequiredInput=${requiredInputs.contains(inputName)},
      hasError=${
        errorMessages != null &&
        errorMessages.get(inputName) != null &&
        (#arrays.length(errorMessages.get(inputName)) > 0) }"
    th:assert="
      ${!#strings.isEmpty(inputName)},
      ${hasLabel || hasAriaLabel},
      ${content != null}">
  <div th:class="'form-group' + ${(hasError ? ' form-group--error' : '')}">
    <fieldset th:attr="
      aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
      aria-required=${isRequiredInput},
      aria-labelledby=${hasAriaLabel ? ariaLabel : ''}">
      <legend class="form-question"
              th:id="${inputName + '-legend'}"
              th:inline="text">
        <span th:text="${label}"></span>
        <span th:if="${isRequiredInput}" class="required-input" aria-hidden="true">*</span>
        <p class="text--help spacing-below-0 text--normal"
           th:if="${hasHelpText}"
           th:id="${inputName + '-help-text'}"
           th:text="${fieldsetHelpText}"></p>
        <th:block
            th:if="${hasError}"
            th:replace="~{fragments/inputError :: validationError(inputName=${inputName})}"></th:block>
      </legend>
      <input type="hidden" th:id="${inputName} + 'Hidden'" th:name="${inputName}" value="">
      <th:block th:replace="${content}"/>
    </fieldset>
  </div>
</th:block>