<th:block
    th:fragment="textArea"
    th:with="
      hasHelpText=${!#strings.isEmpty(helpText)},
      hasLabel=${!#strings.isEmpty(label)},
      hasAriaLabel=${!#strings.isEmpty(ariaLabel)},
      rows=${!#strings.isEmpty(rows)} ? ${rows} : '6',
      maxLength=${!#strings.isEmpty(maxLength)} ? ${maxLength} : '500',
      isRequiredInput=${requiredInputs.get(flow).getOrDefault(inputName, false) || (required != null && required)},
      hasError=${
        errorMessages != null &&
        errorMessages.get(inputName) != null &&
        (#arrays.length(errorMessages.get(inputName)) > 0) }"
    th:assert="${!#strings.isEmpty(inputName)}, ${hasLabel || hasAriaLabel}">
  <div th:class="'form-group' + ${(hasError ? ' form-group--error' : '')}">
    <label th:if="${hasLabel}" th:for="${inputName}" class="form-question">
      <span th:text="${label}"></span>
      <span th:if="${isRequiredInput && !hasAriaLabel}" class="required-input" th:text="#{general.required-field}"></span>
    </label>
    <p class="text--help"
       th:if="${hasHelpText}"
       th:id="${inputName + '-help-text'}"
       th:text="${helpText}"></p>
    <th:block
        th:if="${hasError}"
        th:replace="~{fragments/inputError :: validationError(inputName=${inputName})}"></th:block>
    <textarea th:fragment="textArea"
              type="textarea"
              class="textarea spacing-below-0"
              th:attr="
                aria-describedby=${hasHelpText ? inputName + '-help-text' : ''},
                aria-labelledby=${hasAriaLabel ? ariaLabel : ''},
                rows=${rows},
                maxlength=${maxLength},
                aria-invalid=${hasError}"
              th:id="${inputName}"
              th:name="${inputName}">[[${fieldData.getOrDefault(inputName, '')}]]</textarea>
  </div>
</th:block>