<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{file-delete-confirmation.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <th:block th:if="${noEntryToDelete != null}">
        <main id="content" role="main" class="form-card spacing-above-35">
          <th:block
              th:replace="'fragments/cardHeader' :: cardHeader(header=#{delete-confirmation-back-redirect.header})"/>
          <div class="form-card__footer" th:with="subflowIsEmpty=${subflowIsEmpty != null}">
            <a class="button button--primary"
               th:href="${subflowIsEmpty ? entryScreen : reviewScreen}"
               th:text="#{delete-confirmation-back-redirect.button}"></a>
          </div>
        </main>
      </th:block>
      <th:block th:if="${noEntryToDelete == null}">
        <main
            id="content" role="main" class="form-card spacing-above-35">
          <div class="form-card__content">
            <th:block th:replace="'fragments/icons' :: 'deleteDocument'"></th:block>
            <h1 class="h2"
                th:text="#{file-delete-confirmation.header(${param.filename})}"></h1>
            <h2 th:text="#{file-delete-confirmation.is-that-okay}"></h2>
          </div>
          <div th:text="${param.entrySet()}"></div>
          <div class="form-card__footer">
            <form method="post"
                  th:action="'/file-delete?id=' + ${param.id} + '&returnPath=' + ${param.returnPath} + '&inputName=' + ${param.inputName}">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                  text=#{file-delete-confirmation.yes})"/>
            </form>
            <a class="button spacing-above-35"
               th:href="@{ {returnPath}(returnPath=${param.returnPath}) }"
               th:text="#{file-delete-confirmation.no}"></a>
          </div>
        </main>
      </th:block>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
