<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{upload-documents.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{upload-documents.title})"/>
        <div th:text="${session.get('userFiles')}"></div>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, enctype='multipart/form-data', content=~{::contentRef})">
          <th:block th:ref="contentRef">
            <div class="form-card__content">
              <th:block
                  th:replace="fragments/fileUploader :: fileUploader(inputName='doc-upload-files')"></th:block>
            </div>
            <div class="form-card__footer">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})" />
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
