<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{housemate-info.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="'fragments/icons' :: face"/>
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{housemate-info.add-a-person})"/>
        <th:block
            th:replace="'fragments/form' :: form(action=${'/' + flow + '/' + screen}, content=~{::formContent})">
          <th:block th:ref="formContent">
            <div class="form-card__content">
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='householdMemberFirstName',
                  label=#{housemate-info.first-name},
                  helpText=#{housemate-info.legally})"/>
              <th:block th:replace="'fragments/inputs/text' ::
                  text(inputName='householdMemberLastName',
                  label=#{housemate-info.last-name},
                  helpText=#{housemate-info.legally})"/>
              <th:block
                  th:replace="'fragments/inputs/select' :: select(label=#{housemate-info.relationship}, inputName='householdMemberRelationship', content=~{::options})">
                <th:block th:ref="options">
                  <th:block
                      th:replace="'fragments/inputs/selectOptionPlaceholder' :: selectOptionPlaceholder(optionText=#{housemate-info.select-relationship})"/>
                  <th:block
                      th:replace="'fragments/inputs/selectOption' :: selectOption(value='Spouse', optionText=#{housemate-info.spouse})"/>
                  <th:block
                      th:replace="'fragments/inputs/selectOption' :: selectOption(value='Child', optionText=#{housemate-info.child})"/>
                  <th:block
                      th:replace="'fragments/inputs/selectOption' :: selectOption(value='Other family member', optionText=#{housemate-info.other})"/>
                  <th:block
                      th:replace="'fragments/inputs/selectOption' :: selectOption(value='Domestic partner', optionText=#{housemate-info.domestic})"/>
                </th:block>
              </th:block>
              <th:block th:replace="'fragments/inputs/radioFieldset' ::
                            radioFieldset(inputName='recentlyMovedToUS',
                            label=#{housemate-info.did-they-move},
                            content=~{::radioOptions})">
                <th:block th:ref="radioOptions">
                  <!-- Copy the below input if you want to add more -->
                  <th:block
                      th:replace="'fragments/inputs/radio' :: radio(inputName='householdMemberRecentlyMovedToUS',value='Yes', label=#{general.inputs.yes})"/>
                  <th:block
                      th:replace="'fragments/inputs/radio' :: radio(inputName='householdMemberRecentlyMovedToUS',value='No', label=#{general.inputs.no})"/>
                </th:block>
              </th:block>
              <div class="form-card__footer">
                <th:block th:replace="'fragments/continueButton' :: continue"/>
              </div>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>