<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title=#{household-list.title})"></head>
<body>
<div class="page-wrapper">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header=#{household-list.header},
            subtext=#{household-list.include-children})"/>
        <div class="form-card__content">
          <div class="boxed-content">
            <strong th:text="#{household-list.your-household}"></strong>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block th:replace="'fragments/continueButton' :: continue(text=#{household-list.continue})" />
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
