<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Checkbox input page')}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header='Checkbox input page')}"/>
        <th:block
            th:replace="~{fragments/form :: form(action='/flow/testFlow/pageWithCheckboxSetInput', content=~{::formContent})}">
          <th:block th:ref="formContent">
            <th:block th:replace="~{'fragments/system/reveal' :: reveal(
                controlId='r1',
                linkLabel=~{::revealLabel1},
                content=~{::revealContent1})}">
              <th:block th:ref="revealLabel1">
            <span class="clipboard-icon">
              <i class="icon-">&#xE862;</i>
            </span>
                <span>Reveal content</span>
              </th:block>
              <th:block th:ref="revealContent1">
                <span>This content has been revealed</span>
              </th:block>
            </th:block>

            <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                checkboxFieldset(inputName='favoriteFruitCheckbox',
                label='favoriteFruit',
                fieldsetHelpText='favoriteFruitGoesHere',
                content=~{::favoriteFruit})}">
              <th:block th:ref="favoriteFruit">
                <!-- Copy the below input if you want to add more -->
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteFruitCheckbox',value='Apple', label='Apple')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteFruitCheckbox',value='Orange', label='Orange')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteFruitCheckbox',value='Banana', label='Banana')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteFruitCheckbox',value='None', label='None', noneOfTheAbove=true)}"/>
              </th:block>
            </th:block>

            <th:block th:replace="~{fragments/inputs/checkboxFieldset ::
                checkboxFieldset(inputName='favoriteVeggieCheckbox',
                label='favoriteVeggie',
                fieldsetHelpText='favoriteVeggieGoesHere',
                content=~{::favoriteVeggie})}">
              <th:block th:ref="favoriteVeggie">
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteVeggieCheckbox',value='Apple', label='Carrot')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteVeggieCheckbox',value='Orange', label='Kale')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteVeggieCheckbox',value='Banana', label='Tomato')}"/>
                <th:block
                    th:replace="~{fragments/inputs/checkboxInSet :: checkboxInSet(inputName='favoriteVeggieCheckbox',value='None', label='None', noneOfTheAbove=true)}"/>
              </th:block>
            </th:block>
            <div class="form-card__footer">
              <th:block
                  th:replace="~{fragments/inputs/submitButton :: submitButton(text=#{general.inputs.continue})}"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
