<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title='Subflow Page')}"></head>
<body >
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header='Subflow Page', subtext='This is a page within a subflow')}"/>
            <!-- Test that the currentSubflowItem is passed in by the controller: -->
            <div th:text="${currentSubflowItem.firstName}"></div>
            <div class="form-card__footer">
              <th:block th:replace="~{fragments/continueButton :: continue}" />
            </div>
          </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}" />
</body>
</html>
