<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title='Review Screen')}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{fragments/icons :: household}"></th:block>
                <th:block
                        th:replace="~{fragments/cardHeader :: cardHeader(header='Review Page', subtext='Review some things below')}"/>
                <th:block
                        th:replace="~{fragments/form :: form(action=${formAction}, content=~{::formContent})}">
                    <th:block th:ref="formContent">
                        <div class="form-card__content">
                            <div class="boxed-content text--centered">
                                <ul class="subflow-list">
                                    <li th:each="item, iter: ${fieldData.get('testSubflow')}"
                                        class="subflow-list__item">
                                        <div>
                                            <b>
                                                <span th:text="${'Info for:' + item.textInputSubflow}"></span>
                                            </b>
                                        </div>
                                        <br>
                                        <div class="subflow-list__item-actions">
                                            <a th:href="'/flow/testFlow/addSubflowItem/' + ${item.uuid} + '/edit'"
                                               th:text="edit"
                                               class="subflow-edit"
                                               th:id="'edit-iteration-' + ${item.uuid}">
                                            </a>
                                            <a th:href="'/flow/testFlow/testSubflow/' + ${item.uuid} + '/deleteConfirmation'"
                                               th:text="delete"
                                               class="subflow-delete"
                                               th:id="'delete-iteration-' + ${item.uuid}"></a>
                                            <hr>
                                        </div>
                                    </li>
                                </ul>

                                <a class="button button--add-job"
                                   th:href="'/flow/testFlow/' + ${iterationStartScreen}">Add Another</a>
                            </div>

                        </div>
                        <div class="form-card__footer">
                            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                text='Continue')}"/>
                        </div>
                    </th:block>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
