<th:block th:replace="'fragments/form' :: form(action=${formAction}, content=~{::testAddress})">
  <th:block th:ref="testAddress">
    <div class="form-card__content">
      <th:block
          th:replace="'fragments/inputs/address' :: address(validate=false , inputName='validationOff')"/>
      <th:block
          th:replace="'fragments/inputs/address' :: address(validate=true, inputName='validationOn')"/>
      <!--      <th:block-->
      <!--          th:replace="'fragments/display/validatedAddress' :: address(validate=true, inputName='validatedAddress')"/>-->
    </div>
  </th:block>
</th:block>
