<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title='testAddressValidationNotFound')"></head>
<body>
<div class="page-wrapper">
  <section class="slab">
    <div class="grid">
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, content=~{:: verifyAddress})">
          <th:block th:ref="verifyAddress">
            <th:block th:replace="'fragments/screens/addressSuggestionNotFound' ::
                  addressSuggestionNotFound(
                    addressInputToCheck='validationOn',
                    inputName='useValidatedValidationOn'
                  )"/>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>
