<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title='Delete the iteration?')}"></head>
<body>
<div class="page-wrapper">
    <div th:replace="~{fragments/toolbar :: toolbar}"></div>
    <section class="slab">
        <div class="grid">
            <div th:replace="~{fragments/goBack :: goBackLink}"></div>
            <main id="content" role="main" class="form-card spacing-above-35">
                <th:block th:replace="~{'fragments/icons' :: 'deleteDocument'}"></th:block>
                <th:block th:if="${noEntryToDelete != null}">
                    <th:block
                            th:replace="~{'fragments/cardHeader' :: cardHeader(header='Nothing to delete!')}"/>
                    <div class="form-card__footer" th:with="subflowIsEmpty=${subflowIsEmpty != null}">
                        <a class="button button--primary"
                           th:href="${subflowIsEmpty ? entryScreen : reviewScreen}">"Let's go back!"</a>
                    </div>
                </th:block>
                <th:block th:if="${noEntryToDelete == null}">
                    <div class="form-card__content">
                        <h1 class="h2">Do you want to delete the record?</h1>
                    </div>
                    <div class="form-card__footer">
                        <a class="button button--primary" th:href="'/flow/' + ${flow} + '/testReviewScreen'">No, keep
                            it!</a>
                        <form method="post"
                              th:action="'/flow/' + ${flow} + '/' + ${subflow} + '/' + ${param.uuid} + '/delete'">
                            <th:block th:replace="~{fragments/inputs/submitButton :: submitButton(
                                         classes='button button--danger',
                                         text='Yes! Delete it!')}"/>
                        </form>
                    </div>
                </th:block>
            </main>
        </div>
    </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
