<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="fragments/head :: head(title='Upload Test')"></head>
<script src="https://code.jquery.com/qunit/qunit-2.19.3.js"></script>
<script src="/webjars/form-flow/0.0.1/js/qunit-upload-tests.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.19.3.css">
<body
    th:with="dzFormName='uploadTest'">
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<div class="page-wrapper" id="uploadTest">
  <div th:replace="fragments/toolbar :: toolbar"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="fragments/goBack :: goBackLink"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="'fragments/cardHeader' :: cardHeader(header='Upload Test')"/>
        <th:block
            th:replace="'fragments/form' :: form(action=${formAction}, enctype='multipart/form-data', content=~{::contentRef}, formId=${dzFormName})">
          <th:block th:ref="contentRef">
            <div class="form-card__content">
              <th:block
                  th:replace="fragments/fileUploader :: fileUploader(inputName=${dzFormName})"></th:block>
            </div>
            <div id="submit" class="form-card__footer display-none">
              <th:block th:replace="fragments/inputs/submitButton :: submitButton(
                text=#{general.inputs.continue})"/>
            </div>
          </th:block>
        </th:block>
      </main>
    </div>
  </section>
</div>
<script>
  FormFlowDZ.hideContinueIfNoFiles('[[${dzFormName}]]', 'submit');
</script>
</body>
</html>