<!-- Based on https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html -->
<div th:fragment="languageSelector"
     id="language-selector"
     class="language-selector"
     th:with="
        lang=${#locale.toString()},
        appPropsLanguages=${#strings.replace(@environment.getProperty('form-flow.languages'), ' ', '')},
        supportedLanguages=${appPropsLanguages != null ? appPropsLanguages.split(',') : 'en'},
        useLinksForDesktopView=${#arrays.length(supportedLanguages) <= 3},
        buttonLabel=${
          #messages.msgOrNull('language-preferences.preview.first') != '' &&
          #messages.msgOrNull('language-preferences.preview.second') != ''
          ? #messages.msgOrNull('language-preferences.button') + ', ' + #messages.msgOrNull('language-preferences.preview.first') + ', ' + #messages.msgOrNull('language-preferences.preview.second')
          : #messages.msgOrNull('language-preferences.button') + ', ' + #messages.msgOrNull('language-preferences.preview.first')
        }
">
  <button type="button"
          id="language-menu"
          class="button button--small translate-button"
          th:classappend="${useLinksForDesktopView ? 'use-links-for-desktop' : ''}"
          aria-haspopup="true"
          aria-controls="language-menu-dropdown"
          th:aria-label="${buttonLabel}">
    <i class="icon icon-translate" aria-hidden="true"></i>
    <span>
      <span class="large-text" th:text="#{language-preferences.button}"></span>
      <span class="small-text"
            th:text="${#messages.msgOrNull('language-preferences.preview.second') == ''}
            ? #{language-preferences.preview.first}
            : #{language-preferences.preview.first} + ', ' + #{language-preferences.preview.second}"></span>
    </span>
  </button>
  <ul id="language-menu-dropdown"
      role="menu"
      aria-labelledby="language-menu">
    <li th:each="language : ${supportedLanguages}" role="none">
      <a th:text="${#messages.msg('language-preferences.link-text.' + language)}"
         th:lang="${language}"
         th:href="|?lang=${language}|"
         class="text--small language-option-track-click" role="menuitem"></a>
    </li>
  </ul>
  <nav th:aria-label="#{language-preferences.button}" class="translate-links"
       th:classappend="${useLinksForDesktopView ? 'use-links-for-desktop' : ''}">
    <a th:each="language : ${supportedLanguages}"
       th:lang="${language}"
       th:text="${#messages.msg('language-preferences.link-text.' + language)}"
       th:href="|?lang=${language}|"></a>
  </nav>
  <noscript>
    <!-- When JavaScript is disabled, hide translate button and show translate links -->
    <style>
      .translate-button {
        display: none !important;
      }

      .translate-links {
        display: block !important;
      }
    </style>
  </noscript>
</div>
