<!-- Based on https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-links.html -->
<div th:fragment="localeSelect" id="translate-button" class="menu-button-links"
     th:with="
        lang=${#locale.toString()},
        currentURL=${screen},
        appPropsLocales=${#strings.replace(@environment.getProperty('form-flow.locales'), ' ', '')},
        supportedLocales=(${appPropsLocales != null ? appPropsLocales.split(',') : 'en'}),
        useLinksForDesktopView=${#arrays.length(supportedLocales) <= 3}
">
  <button type="button"
          id="language_menu"
          class="button translate-button"
          th:classappend="${useLinksForDesktopView ? 'use-links-for-desktop' : ''}"
          aria-haspopup="true"
          aria-controls="menu2">
    <i class="icon icon-translate"></i>
    <span>
      <strong th:text="#{language-preferences.button}"></strong>
      <span class="small-text" aria-hidden="true"
            th:text="${#messages.msgOrNull('language-preferences.preview.second') == ''}
            ? #{language-preferences.preview.first}
            : #{language-preferences.preview.first} + ', ' + #{language-preferences.preview.second}"></span>
    </span>
  </button>
  <ul id="menu2"
      role="menu"
      aria-labelledby="language_menu">
    <li th:each="locale : ${supportedLocales}" role="none">
      <!--  TODO: set correct href in later ticket  -->
      <a th:text="${#messages.msg('language-preferences.link-text.' + locale)}" th:href="'#'"
         class="text--small language-option-track-click" role="menuitem"></a>
    </li>
  </ul>
  <div class="translate-links"
       th:classappend="${useLinksForDesktopView ? 'use-links-for-desktop' : ''}">
    <a th:each="locale : ${supportedLocales}"
       th:text="${#messages.msg('language-preferences.link-text.' + locale)}" th:href="'#'"></a>
  </div>
  <noscript>
    <!-- When JavaScript is disabled, hide translate button and show translate links -->
    <style>
      .translate-button {
        display: none !important;
      }

      .translate-links {
        display: block !important;
      }
    </style>
  </noscript>
</div>
