<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="toolbar">
  <header class="main-header toolbar__wrapper">
    <div class="toolbar">
      <div class="toolbar__left spacing-above-0">
        <a href="#content" id="skip-to-content" class="button button--small">Skip to content</a>
        <a class="logo" href="/">
          <img src="/webjars/form-flow/0.0.1/images/code-for-america-logo_white.svg"
               alt="Code for America logo"
               style="width: 96px;"
               class="vertical-align-middle"/>
        </a>
      </div>
      <div class="toolbar__right">
        <!--        <select th:replace="~{fragments/localeSelect :: localeSelect}"></select>-->
      </div>
    </div>
    <th:block
        th:replace="~{fragments/demoBanner :: demoBanner(demoText=#{demo.banner-text}, profile='demo')}"/>
  </header>
</th:block>
</body>
</html>
