<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title='Test index page')}"></head>
<body>
<div class="page-wrapper">
  <th:block th:replace="~{fragments/toolbar :: toolbar}"/>
  <th:block th:replace="~{fragments/demoBanner :: demoBanner}"/>
  <section class="slab">
    <div class="grid">
      <div class="grid__item">
        <h1 class="spacing-below-35">Test Index Page</h1>
      </div>
    </div>
  </section>
  <main id="content" role="main" class="slab slab--white">
    <a class="button" href="/flow/testLandmarkFlow/first">Start the test flow</a>
  </main>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
