<!DOCTYPE html>
<html th:lang="${#locale.language}">
<head th:replace="~{fragments/head :: head(title=#{error.error})}"></head>
<main>
  <h2 class="text--centered spacing-below-0" style="background-color: red; color: white">Internal
    Error!</h2>
  <table class="data-table">
    <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Timestamp:</td>
      <td th:text="${timestamp}"></td>
    </tr>
    <tr>
      <td>Status:</td>
      <td><span th:text="${status}"></span></td>
    </tr>
    <tr>
      <td>Error:</td>
      <td th:text="${error}"></td>
    </tr>
    <tr>
      <td>Message:</td>
      <td th:text="${message}"></td>
    </tr>
    <tr>
      <td>Path:</td>
      <td th:text="${path}"></td>
    </tr>
    <tr>
      <td>Exception:</td>
      <td th:text="${exception}"></td>
    </tr>
    </tbody>
  </table>
  <th:block th:if="${!prettyStackTrace.isEmpty()}">
    <h3 class="text--centered spacing-below-0 space-above-0" style="background-color: red; color: white">Stacktrace</h3>
    <div class="stack-trace" th:utext="${prettyStackTrace}"></div>
  </th:block>
</main>
</html>