<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{'Annual Household Income'})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{'Is this everybody''s income?'})}"/>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{'Your Annual Household Income'}"></strong>
            <ul class="subflow-list list--bulleted padding-left-25">
              <th:block th:if="${fieldData.containsKey('income')}">
              </th:block>
            </ul>
            <hr/>
            <a th:href="'/flow/' + ${flow} + '/' + ${iterationStartScreen}"
               class="button spacing-above-25 spacing-below-0 spacing-right-0"
               th:text="#{'+ Add income for another household member'}"></a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block
              th:replace="~{fragments/continueButton :: continue(text=#{'Yes, that''s all the income'})}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
