<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title=#{'Household List'})}"></head>
<body>
<div class="page-wrapper">
  <div th:replace="~{fragments/toolbar :: toolbar}"></div>
  <section class="slab">
    <div class="grid">
      <div th:replace="~{fragments/goBack :: goBackLink}"></div>
      <main id="content" role="main" class="form-card spacing-above-35">
        <th:block th:replace="~{fragments/icons :: 'householdBlue'}"></th:block>
        <th:block
            th:replace="~{fragments/cardHeader :: cardHeader(header=#{'Is this everyone that lives with you?'})}"/>
        <div class="form-card__content">
          <div class="boxed-content text--centered">
            <strong th:text="#{'Your household'}"></strong>
            <ul class="subflow-list list--bulleted">
              <li class="spacing-below-15"
                  th:text="${fieldData.firstName} + ' ' + ${fieldData.lastName}"></li>
              <th:block th:if="${fieldData.containsKey('household')}">
                <li th:each="householdMember, iter: ${fieldData.household}"
                    class="spacing-below-15">
                              <span class="space-between">
                                <span>
                                  <span
                                      th:text="${householdMember.householdMemberFirstName}"></span>
                                  <span th:text="${householdMember.householdMemberLastName}"></span>
                                </span>
                                <span class="text--small spacing-below-0">
                                  <a th:href="'/flow/ubi/' + ${iterationStartScreen} + '/' + ${householdMember.uuid} + '/edit'"
                                     th:text="#{general.edit}"
                                     th:id="'edit-iteration-' + ${householdMember.uuid}"
                                     class="subflow-edit"></a>
                                  <a th:href="'/flow/ubi/household/' + ${householdMember.uuid} + '/deleteConfirmation'"
                                     th:text="#{general.delete}"
                                     class="subflow-delete"
                                     th:id="'delete-iteration-' + ${householdMember.uuid}"></a>
                                </span>
                              </span>
                </li>
              </th:block>
            </ul>
            <a th:href="'/flow/' + ${flow} + '/housemateInfo'" class="button spacing-above-15"
               th:text="#{'+ Add a person'}"></a>
          </div>
        </div>
        <div class="form-card__footer">
          <th:block
              th:replace="~{fragments/continueButton :: continue(text=#{'Yes, this is everyone'})}"/>
        </div>
      </main>
    </div>
  </section>
</div>
<th:block th:replace="~{fragments/footer :: footer}"/>
</body>
</html>
